/*

.abs {
	color: red;
}


.rst-content dl:not(.docutils) dt {
	background: #fff;
	
	border-top: none;
}

.rst-content dl:not(.docutils) {
	background: #fff;
	border: 1px solid #e1e4e5;
}
*/

.function p {
	word-wrap: break-word;
}